<section class="wishlist">
  <div class="container">
    <h1>❤️ My Wishlist</h1>
    <p>Your saved items and favorite products</p>
    
    <div class="wishlist-content">
      <div class="wishlist-items" *ngIf="wishlistItems.length > 0; else emptyWishlist">
        <div class="wishlist-item" *ngFor="let item of wishlistItems">
          <div class="item-image">
            <img [src]="item.image" [alt]="item.name">
          </div>
          <div class="item-details">
            <h3>{{ item.name }}</h3>
            <p class="item-description">{{ item.description }}</p>
            <div class="item-price">${{ item.price }}</div>
            <div class="item-actions">
              <button class="btn add-to-cart" (click)="addToCart(item)">Add to Cart</button>
              <button class="btn remove-btn" (click)="removeFromWishlist(item)">Remove</button>
            </div>
          </div>
        </div>
      </div>
      
      <ng-template #emptyWishlist>
        <div class="empty-wishlist">
          <div class="empty-icon">💔</div>
          <h3>Your wishlist is empty</h3>
          <p>Start adding items to your wishlist by browsing our products!</p>
          <button class="btn primary" routerLink="/shop">Browse Products</button>
        </div>
      </ng-template>
    </div>
  </div>
</section>
